ci:
  autofix_commit_msg: "chore(pre-commit): autofix run"
  autoupdate_commit_msg: "chore(pre-commit): autoupdate hooks"

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        # args: [build, chore, ci, docs, feat, fix, perf, refactor, revert, style, test]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements
      - id: name-tests-test
        exclude: ^tests/helpers/
      - id: requirements-txt-fixer
  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
      - id: autopep8
        args: ["--in-place", "--max-line-length=88", "--ignore=E203"]
  # E203 edits `data[len("CDATA[") :]` to `data[len("CDATA["):]` and black does opposite
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        args: ["--line-length=88"]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.8.0
    hooks:
      - id: setup-cfg-fmt
  # - repo: https://github.com/pylint-dev/pylint
  #   rev: v3.0.0a6
  #   hooks:
  #     - id: pylint
  #       # exclude: |
  #       #     (?x)
  #       #     ^pandas/tests  # keep excluded
  #       #     |/_testing/  # keep excluded
  #       #     |^pandas/util/_test_decorators\.py  # keep excluded
  #       #     |^pandas/_version\.py  # keep excluded
  #       #     |^pandas/conftest\.py  # keep excluded
  #       # args: [--disable=all, --enable=redefined-outer-name]
  - repo: https://github.com/PyCQA/isort
    rev: 6.1.0
    hooks:
      - id: isort
        additional_dependencies: [toml]
        args: ["--profile=black", "-l=88"]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args:
          [
            "--max-line-length=88",
            "--extend-ignore=E203,E501,W503",
            "--per-file-ignores=__init__.py:F401 **/tests/**:E,F,W",
          ]
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.4.1
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
